#capital{
    font-size:50px;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), no-repeat center/100% url(../img/banner.jpg);
}