/*---------fromulaire de contact-------*/
.title2{
    background-color: #2a2e33;
    display:flex;
    justify-content: center;
    color: white;
}
.container-fluid{
    background-color: #01132C;
    text-align: center;
    display: grid;
}
.form-group{
    padding: 20px;   
}
/*------------------------footer----------------------*/
/*modification du footer pour la mise en page */
#footerMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #042553; 
    height: 20vh;
}
/*modification du lien vers les mention legales*/
#footerMain a{
    color: white;
    text-decoration: none;
}
#footerMain a:hover{
    color: red;
}
/*icon des réseau*/
#reseau{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
#reseau img{
    width: 40px;
    margin-left: 20px;
}
.para22{
    color: white;
}
/*---------------------fin footer----------------------*/
/*Media pour les tablettes*/
@media screen and (max-width: 1024px) {
    /*changement de place du menu du slider pour le mode tablette*/
    .menu {
        top: 90%;
    }
    /*On fait disparaitre la barre de navigation ainsi que la barre de recherche*/
    nav, #recherche{
        display:none;
    }
    /*on fait appraitre le menu burger(non fonctionnel)*/
    #burger{
        display: block;
    }
    /*changement de la taille du h1 pour l'adapter à l'affichage tablette*/
    h1{
        font-size: 60px;
    }
    /*changement de la taille du header pour garder de bonne proportion pour le mode tablette*/
    header{
        height: 200px;
    }
    /*réoganisation du formulaire pour l'adapter au format tablette*/
    #contenuFrom{
        margin-top: 2%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr
        1fr;
        grid-template-areas:
        "contact"
        "headerContact"
        "zText "
        "boutton";
    }
    /*réorganisation du bloc objet et email pour le format tablette*/
    #headerContact{
        grid-area: headerContact;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr ;
        width: 100%;
        padding-top: 2%;
    }
    /*modiification de la taille de l'icon du formulaire de contact*/
    #contact{
        height: 70px;
    }
    /*réoganisation du formulaire de contact pour le mode tablette*/
    #articles{
        grid-template-columns: 1fr;
    }   
    .container-fluid{
        text-align: center;
    }
}
/*Media pour les Télephone*/
@media screen and (max-width:550px) {
    /*modification de l'emplacement de menu du slider pour le mode telephone*/
    .menu {
        top: 90%;
    }
    /*modification de la taille du header pour la version mobile*/
    header{
        height: 100px;
    }
    /*modification de la taille de l'image du formulaire de contact*/
    #contact{
        height: 40px;
    }
    .slide-3 p{
        font-size: 15px;
    }
    .slide-3 h2{
        padding: 2% 0 0 0;
        font-size: 17px;
    }
    .container-fluid{
        text-align: center;
    }
}