.navbar{
    background-color: #001F51;
    padding: 0;
}
.nav-item{
    padding: 5px;
}
.nav-item:hover{
    background-color: gray;
    background-color: rgba(0, 0, 0, .5);
}
.navbar-brand {
    padding: 10px;
}
.btn{
    color: white;
    outline: white;
}
.btn:hover{
    color: #001F51 ;
    background-color: white;
}
#doc{
    padding: 5px;
}
h1{
    color: white;
    text-align: center;
}
h1>p{
    font-size: 20px
}
header{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0em;
    height: 110px;
    background-image:url('/asset/img/banner.jpg');
    background-size: cover;
    background-position: center;
}